@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

/*Header */
header {
    font-family: 'Sonsie One', sans-serif;
    font-size: 20px;
    color: rgb(58, 58, 58);
    margin-left: 18%;
    }

/*Body */
body {
    background-color: rgb(213, 213, 213);
    margin-left: 25%;
}

/* Game */
.board {
 width: 700px;
}

.card {
  width: 150px;
  height: 150px;
}

.view {
   width: 140px;
   height: 140px;
}

.back {

}