@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

/*Header */
header {
    font-family: 'Sonsie One', sans-serif;
    font-size: 20px;
    color: rgb(58, 58, 58);
    margin-left: 18%;
}

/*Body */
body {
    background-color: rgb(213, 213, 213);
    margin-left: 25%;
}

/* Game */
.board {
    width: 700px;
    /* border: 3px solid #f1f1f1; */
    border-radius: 4%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 1%;
}

.card {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 1s;
    background-color: #000;
    border: 3px solid #000;
    border-radius: 4%;
    margin: 1%;
}

/* Flip event */
.card.flipped {
    transform: translateX(-5%) rotateY(180deg);
    background-color: #fff;
}

.view {
    position: absolute;
    width: 140px;
    height: 140px;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

/* Reset button */
.restart {
    background-color: rgb(233, 136, 40);
    font-family: "Sonsie One", sans-serif;
    font-size: 18px;
    text-align: center;
    border-color: #000;
    border-radius: 4%;
    margin-left: 23%;
    padding: 1%;
    width: 200px;
}

/* For the screen sizes below 1200px */
@media screen and (max-width: 1200px) {
    header {
        margin-left: 24%;
    }

    body {
        margin-left: 14%;
    }

    .restart {
        margin-left: 27%;
        margin-top: 5%;
        width: 270px;
        font-size: 25px;
    }
}

/* For the screen sizes below 800px */
@media screen and (max-width: 800px) {
    header {
        margin-left: 27%;
    }

    body {
        margin-left: 2.2%;
    }

    .restart {
        margin-left: 30%;
        margin-top: 5%;

    }
}

/* For the screen sizes below 700px */
@media screen and (max-width: 700px) {
    header {
        margin-left: 15%;
    }

    body {
        margin-left: 1.5%;
    }

    .restart {
        margin-left: 15%;
        margin-top: 5%;
        width: 270px;
        font-size: 25px;
    }

    .board {
        width: 600px;
        padding: 0.8%;
    }

    .card {
        width: 110px;
        height: 110px;
        margin: 1%;
    }

    .view {
        width: 100px;
        height: 100px;
    }
}

/* For the screen sizes below 520px */
@media screen and (max-width: 520px) {
    header {
        font-size: 15px;
    }

    .board {
        width: 450px;
        padding: 0.3%;
    }

    .card {
        width: 90px;
        height: 90px;
        margin: 0.5%;
    }

    .view {
        width: 85px;
        height: 85px;
    }
}

/* For the screen sizes below 415px */
@media screen and (max-width: 415px) {
    .board {
        width: 350px;
        padding: 0.1%;
    }

    .card {
        width: 78px;
        height: 78px;
        margin: 0.3%;
    }

    .view {
        width: 73px;
        height: 73px;
    }

    .restart {
        margin-left: 20%;
        width: 200px;
        font-size: 18px;
    }
}

/* For the screen sizes below 355px */
@media screen and (max-width: 355px) {
    .board {
        width: 330px;
    }

    .card {
        width: 68px;
        height: 68px;
    }

    .view {
        width: 63px;
        height: 63px;
    }

}