@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

/*Header */
header {
    font-family: 'Sonsie One', sans-serif;
    font-size: 20px;
    color: rgb(58, 58, 58);
    margin-left: 18%;
    }

/*Body */
body {
    background-color: rgb(213, 213, 213);
    margin-left: 25%;
}

/* Game */
.board {
 width: 700px;
 /* border: 3px solid #f1f1f1; */
 border-radius: 4%;
 display: flex;
 flex-wrap: wrap;
 position: relative;
 padding: 1%;
}

.card {
  position: relative;
  width: 150px;
  height: 150px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s;
  background-color: #000;
  border: 3px solid #000;
  border-radius: 4%;
  margin: 1%;
}

/* Flip event */
.card.flipped {
    transform: translateX(-5%) rotateY(180deg);
    background-color: #fff;
}

.view {
   position: absolute;
   width: 140px;
   height: 140px;
   backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

/* Reset button */
.restart {
  background-color: rgb(233, 136, 40);
  font-family: "Sonsie One", sans-serif;
  font-size: 18px;
  text-align: center;
  border-color: #000;
  border-radius: 4%;
  margin-left: 23%;
  padding: 1%;
  width: 200px;
}

/* For the screen sizes below 1200px */
@media screen and (max-width: 1200px) {
    header {
        margin-left: 24%;
    }
    body {
        margin-left: 14%;
    }
    .restart {
        margin-left: 27%;
        margin-top: 5%;
        width: 270px;
        font-size: 25px;
    }
}
/* For the screen sizes below 800px */
@media screen and (max-width: 800px) {
    header {
        margin-left: 27%;
    }
    body {
        margin-left: 7%;
    }
    .restart {
        margin-left: 30%;
        margin-top: 5%;
        
    }
}
/* For the screen sizes below 500px */
@media screen and (max-width: 1200px) {
    header {
        margin-left: 5%;
    }
    body {
        margin-left: 0;
    }
    .restart {
        margin-left: 5%;
        margin-top: 5%;
        width: 270px;
        font-size: 25px;
    }
}